<template>
  <div id="app" class="container">
    <jumbo />
    <edit v-show="edit" @update="update" :current="current"/>
    <actionbar v-show="!edit" @search="updatesearch" @post="create" />
    <movies @edit="setcurrent" @delete="remove" :movies="filtered" />
  </div>
</template>

<script>
  import Movies from './components/Movies.vue'
  import Actionbar from './components/Actionbar.vue'
  import Jumbo from './components/Jumbo.vue'
  import Edit from './components/Edit.vue'

  import axios from 'axios'
  const url = 'http://localhost:3000/movies'

  export default {
    name: 'app',
    components: {
      Movies,
      Actionbar,
      Jumbo,
      Edit
    },
    data() {
      return {
        movies: [],
        search: '', 
        current:{
          title:'',
          description:{
          }
        },
        edit: false
      }
    },
    methods: {
      async create(data) {
        await axios.post(url, data)
        this.read()
      },
      async read() {
        this.movies = (await axios.get(url)).data
      },
      async remove(id) {
        await axios.delete(`${url}/${id}`)
        this.read()
      },
      updatesearch(val){
        this.search = val
      },
      async setcurrent(id){
        this.current = (await axios.get(`${url}/${id}`)).data[0]
        this.edit = true;
      },
      async update(data){
        await axios.put(`${url}/${this.current._id}`, data)
        this.edit = false
        this.read()
      }
    },
    created() {
      this.read()
    },
    computed: {
      filtered() {
        return this.movies.filter(item => {
          return item.title.toLowerCase().indexOf(this.search.toLowerCase()) > -1
        })
      }
    }
  }
</script>

<style>
  @import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
</style>