<template>
    <div class="container mb-5">
        <div v-show="!form" class="row">
            <div class="col-sm-10">
                <input v-model="search" @change="updatesarch" class="form-control" placeholder="search..." type="text"
                    name="search">
            </div>
            <div class="col-sm-2">
                <button @click="toggle(true)" class="btn btn-outline-primary">New Movie</button>
            </div>
        </div>
        <form id="form" @submit.prevent="onSubmit" class="mt-5" v-show="form">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="title" placeholder="Title">
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="image" placeholder="Image Url">
                </div>
            </div>
            <div v-for="row of rows" :key="row" class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" :id="row + 'p'" placeholder="Property">
                </div>
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" :id="row + 'v'" placeholder="Value">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <button type="button" @click="inc(false)" class="btn btn-danger">-</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="button" @click="inc(true)" class="btn btn-success">+</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="reset" @click="toggle(false)" class="btn btn-secondary">Close</button>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" value="Submit" class="btn btn-primary">Add Movie</button>
                </div>
            </div>
        </form>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                form: false,
                rows: 1,
                search: ''
            }
        },
        methods: {
            toggle(val) {
                this.form = val
            },
            updatesarch() {
                this.$emit('search', this.search)
            },
            async onSubmit() {
                const rows = this.rows

                let data = {
                    description: {}
                }

                if (document.getElementById('title').value) {
                    data['title'] = document.getElementById('title').value;

                    if (document.getElementById('image').value)
                        data['image'] = document.getElementById('image').value

                    for (let row = 1; row <= rows; row++) {
                        if (document.getElementById(row + 'p').value && document.getElementById(row + 'v').value)
                            data.description[document.getElementById(row + 'p').value] = document.getElementById(
                                row + 'v').value
                    }

                    document.getElementById("form").reset();

                    this.$emit('post', {
                        data
                    })

                    this.toggle(false)

                } else {
                    alert('Title needed')
                }
            },
            inc(val) {
                if (val)
                    this.rows++
                else
                    this.rows--
            },
        },
        watch: {
            search: function (val) {
                this.$emit('search', val)
            },
        }
    }
</script>

<style>
    button {
        width: 100%
    }
</style>
