<template>
    <div class="container">
        <form class="mt-5" @submit.prevent="onSubmit">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input class="form-control" type="text" name="titleedit" id="titleedit" :value="current.title">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input class="form-control" type="text" name="imageedit" id="imageedit" :value="current.image">
                </div>

            </div class="form-row">
            <div class="form-row" v-for="(val, key) in current.description" :key="key">
                <div class="form-group col-md-6">
                    <input class="form-control" type="text" name="title" :id="key+'k'" :value="key">
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control" type="text" name="title" :id="key+'v'" :value="val">
                </div>


            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <button class="btn btn-warning" type="reset">close</button>
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary" type="submit">save</button>
                </div>
            </div>


        </form>
    </div>

</template>

<script>
    export default {
        props: {
            current: Object
        },
        methods: {
            async onSubmit() {
                const rows = this.rows

                let data = {
                    description: {}
                }

                if (document.getElementById('titleedit').value) {
                    data['title'] = document.getElementById('titleedit').value;

                    if (document.getElementById('imageedit').value)
                        data['image'] = document.getElementById('imageedit').value

                    for (let key of Object.keys(this.current.description)) {
                        if (document.getElementById(key + 'k').value && document.getElementById(key + 'v').value)
                            data.description[document.getElementById(key + 'k').value] = document.getElementById(
                                key + 'v').value
                    }

                    document.getElementById("form").reset();

                    console.log(data)

                    this.$emit('update', {
                        data
                    })

                } else {
                    alert('Title needed')
                }
            }
        }
    }
</script>

<style>

</style>
