<template>
    <div class="jumbotron mt-4 biggo">
      <h1 class="display text-white">Movie Wall</h1>
    </div>
</template>

<script>
export default {

}
</script>

<style>
  .biggo{
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    background: url('https://www.pixelstalk.net/wp-content/uploads/2016/04/Marvel-wallpapers-HD-backgrounds-pictures-images.jpg') no-repeat center center;
  }
</style>
