<template>
    <div class="row">
        <div v-for="movie of movies" :key="movie._id" class="col-sm-4 m">
            <div class="card">
                <img v-show="movie.image" :src="movie.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p v-for="(item, key) of movie.description" :key="key">{{key}}: {{item}}</p>
                    <button @click="edit(movie._id)" class="btn btn-outline-info mb-2">edit</button>
                    <button @click="remove(movie._id)" class="btn btn-outline-dark">remove</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            movies: Array
        },
        methods: {
            remove(id) {
                this.$emit('delete', id)
            },
            edit(id) {
                this.$emit('edit', id)
            }
        }
    }
</script>

<style>

</style>